.maroon {
  color: rgb(133, 2, 2);
}

.maroon_bg {
  background-color: rgb(133, 2, 2);
}

.brand {
  font-size: 40px;
  font-weight: bold;
}

/* #trade_asset, #trade_for_asset {
  width: 100px;
} */

.create_swap_hr {
  background-color: #fff;
  border-top: 3px dashed #8c8b8b;
}
